<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;">
  <h1>Task List</h1>

<!--  <div class="post-request-test">
    <h3>Test Post Request</h3>
    <button (click)="postData()">ClickMe :)</button>
    <h5>Response: {{postRequestResponse}}</h5>
  </div>
  -->


  <!--<button (click)="createTaskArray()">array test</button>
  <div class="displayarray">here is array: {{array}}<div>
    Below are values:
  <li *ngFor="let task of array">
    {{task.name}} {{task.id}}
    <span  *ngIf="task.isTaskComplete===true">
    <input type="checkbox" name={{task.id}} checked>
  </span>
    <span  *ngIf="task.isTaskComplete===false">
    <input type="checkbox" name={{task.id}}>
  </span>
  </li>

    <input type="text" [formControl]="name">
    {{name.value}}
    <button (click)="updateName()">Update Name</button>
    -->
</div>
<!-- make request to server to see if user is logged in. if not, show login page
     if logged in, return that task list
     probably a security risk here...-->
    <router-outlet></router-outlet>
